{% extends 'blogs/base.html' %}

{% block content %}

    <h1> Here is setting form {{ user.username }} </h1>

    <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="row">      
                    <div class="field col-12 mt-3 text-center">
                        {{ field.label }}
                    </div>
                    <div class="field col-12 my-4 text-center">
                        {{ field }}
                    </div>
                    <div class="field col-12">
                        {% if field.help_text %}
                        <span class="field_help_text">{{ field.help_text}}</span>
                        {% endif %}
                    </div>
                    <div class="field col-12">
                        {{ field.errors }}
                    </div>
                </div>
                {% endfor %}

                <div class="row flex-column align-items-center">
                    <div class="col-2 col-sm-2 my-3 text-center"><button type="submit" class="btn btn-primary btn-lg">Update</button></div>
                </div>
            </form>

            <div>
                <a href="{% url 'password_change' %}">Password change</a>
            </div>
    </div>

{% endblock %}