{% extends 'blogs/base.html' %}
{% load static %}
{% block content %}
<h1>Here is ID {{ post.pk }} detail</h1>


<div class="container" id="post-container">
    <div class="row justify-content-center">
        <!-- Post author information -->
        <div class="col-9 my-3">
            <label hidden>Author:</label>
            <div id="author-container">
                <a href="{% url 'blogs:user_page' post.author.pk %}">
                    <div id="author-icon">
                        <img src="{{ post.author.icon_image.url }}" id="author-icon-image">
                    </div>
                </a>
                <div id="author-name">
                    <a href="{% url 'blogs:user_page' post.author.pk %}">{{ post.author.username }}</a>
                </div>
            </div>
        </div>
        
        {% if post.author.pk == request.user.pk or request.user.is_superuser %}
        <div class="col-9 my-3">
            <div class="row float-right">
                <!-- Edit URL -->
                <div class="col-5">
                    <a href="{% url 'blogs:edit' post.pk %}">
                        <button class="btn border" style="white-space: nowrap;">Edit   <i class="far fa-edit"></i></button>
                    </a>
                </div>
                <!-- Delete URL -->
                <div class="col-5">
                    <a href="{% url 'blogs:delete' post.pk %}">
                        <button class="btn border" style="white-space: nowrap;">Delete   <i class="far fa-trash-alt"></i></button>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Post updated date -->
        <div class="col-9">
            <div style="float:right">
                <label class="text-muted">Updated:</label>
                {{ post.published_date }}
            </div>
        </div>
        <!-- Post media -->
        {% if post.image %}
        <div class="col-9 my-3">
            <label hidden>Image:</label>
            <a href="{{ post.image.url }}" target="blank"><img class="img-responsive mw-100" src="{{ post.image.url }}"></a>
        </div>
        {% endif %}


        <!-- Post title -->
        <div class="col-9 my-2">
            <div id="post-title">
                {{ post.title }}
            </div>
        </div>

        <!-- Post hit -->
        <div class="col-7 mb-2 clearfix" id="hit">
            <div class="float-right">
                <label class="text-muted">Views:</label>
                <span id="hit-count">{{ post_hit | length}}</span>
            </div>
        </div>

        <!-- Post Eval -->
        <div class="col-2 mb-2" id="post_eval">
            <div id="posteval-container" class="row float-right">
                <div class="posteval col" id="good-container">
                    <button class="btn requiredAuth" id="good-button"><div class="icon"><i class="far fa-thumbs-up"></i></div></button>
                    <div id="good-count" class="text-center">{{ post_eval_good | length }}</div>
                </div>
                <div class="posteval col" id="bad-container">
                    <button class="btn requiredAuth" id="bad-button"><div class="icon"><i class="far fa-thumbs-down"></i></div></button>
                    <div id="bad-count" class="text-center">{{ post_eval_bad | length }}</div>
                </div>
            </div>
        </div>


        <div class="border col-9"></div>
        <!-- PostText -->
        <div class="col-9 my-2">
            <div id="post-text">
                {{ post.text | linebreaksbr }}
            </div>
        </div>
    </div>
</div>

<!-- Comment -->
<div id="comment-container" class="container">
{% include 'blogs/comment.html' %}
</div>

{% csrf_token %}

<script>
    // postHit
    // Need csrf_token 

    $(function(){
        var hit = '{{ post_hit | length }}'
        $('#hit-count').html(hit);

        // POST method
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

        setTimeout(() => {
            $.ajax({
                url: '{% url "apis:posthit-list" %}',
                method: 'POST',
                data: {
                    'post': '{{ post.pk }}',
                    'user': '{{ user.pk }}',
                    'hit': true
                },
                headers: { "X-CSRFToken": $crf_token }, // csrf_token
            })
                .fail((response) => {
                    console.log('PostHit POST fail!');
                })
        }, 10000) // 10 sec
    })
</script>

{% if user.is_authenticated %}
<script>
    // postEval
    // Need csrf_token

    $(function () {
        var good_button = $('#good-button');
        var bad_button = $('#bad-button');
        var good_field = $('#good-count');
        var bad_field = $('#bad-count');
        var good_count = Number('{{ post_eval_good | length }}');
        var bad_count = Number('{{ post_eval_bad | length }}');

        const good_selected = 'btn-primary';
        const bad_selected = 'btn-danger';

        if ('{{ my_post_eval.good }}' == 'True') {
            good_button.addClass(good_selected);
        }

        if ('{{ my_post_eval.bad }}' == 'True') {
            bad_button.addClass(bad_selected);
        }

        // PUT Method
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

        good_button.on('click', function () {
            if ($(this).hasClass(good_selected)) {
                putPostEval(false, false);
                good_field.html(--good_count);
                $(this).removeClass(good_selected);
            } else {
                putPostEval(true, false);
                if (bad_button.hasClass(bad_selected)) {
                    bad_field.html(--bad_count);
                    bad_button.removeClass(bad_selected);
                }
                good_field.html(++good_count);
                $(this).addClass(good_selected);
            }
        });

        bad_button.on('click', function () {
            if ($(this).hasClass(bad_selected)) {
                putPostEval(false, false);
                bad_field.html(--bad_count);
                $(this).removeClass(bad_selected);
            } else {
                putPostEval(false, true);
                if (good_button.hasClass(good_selected)) {
                    good_field.html(--good_count);
                    good_button.removeClass((good_selected));
                }
                bad_field.html(++bad_count);
                $(this).addClass(bad_selected);
            }
        });

        var putPostEval = function (good, bad) {
            $.ajax({
                url: '{% url "apis:posteval-detail" my_post_eval.pk %}',
                method: 'PUT',
                data: {
                    'post': '{{ post.pk }}',
                    'user': '{{ user.pk }}',
                    'good': good,
                    'bad': bad,
                },
                headers: { 'X-CSRFToken': $crf_token }, // csrf_token
            })
                .fail((response) => {
                    console.log('PUT fail!');
                })
        }
    })
</script>
{% endif %}

{% endblock %}